<div>
  <app-page-title [pageTitle]="pageTitle"></app-page-title>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <input
      type="email"
      class="w-full"
      pInputText
      formControlName="email"
      placeholder="Email"
    />
    @if ( forgotPasswordForm.get('email')?.touched &&
    forgotPasswordForm.get('email')?.invalid){

    <app-error-message
      [errors]="forgotPasswordForm.get('email')?.errors ?? null"
    >
    </app-error-message>
    }

    <p-button
      [disabled]="forgotPasswordForm.invalid || isLoading"
      type="submit"
      class="button"
      label="Send verification code"
      type="submit"
      [loading]="isLoading"
    />
  </form>
</div>
