<div class="form-template flex-column justify-content-center">
  <app-page-title pageTitle="Sign up"></app-page-title>
  @if(apiErrorMessage) {
  <div class="col-12">
    <p class="p-error">{{ apiErrorMessage }}</p>
  </div>
  }
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-item col-12">
      <input
        type="text"
        class="w-full"
        pInputText
        formControlName="firstName"
        placeholder="First Name"
      />
      @if(isFieldValid('firstName')){
      <div>
        <app-error-message [errors]="getFieldErrors('firstName')">
        </app-error-message>
      </div>
      }
    </div>
    <div class="form-item col-12">
      <input
        type="text"
        class="w-full"
        pInputText
        formControlName="lastName"
        placeholder="Last Name"
      />
      @if(isFieldValid('lastName')){
      <div>
        <app-error-message [errors]="getFieldErrors('lastName')">
        </app-error-message>
      </div>
      }
    </div>
    <div class="form-item col-12">
      <input
        type="email"
        class="w-full"
        pInputText
        formControlName="email"
        placeholder="Email"
      />
      @if (isFieldValid('email') ) {
      <div>
        <app-error-message
          [errors]="getFieldErrors('email')"
        ></app-error-message>
      </div>
      }
    </div>
    <div class="form-item col-12">
      <input
        type="text"
        class="w-full"
        pInputText
        formControlName="username"
        placeholder="Username"
      />
    </div>
    <div class="form-item col-12">
      <input
        type="text"
        class="w-full"
        pInputText
        formControlName="phone"
        placeholder="Phone Number"
      />
      @if (isFieldValid('phone') ) {
      <div>
        <app-error-message
          [errors]="getFieldErrors('phone')"
        ></app-error-message>
      </div>
      }
    </div>
    <div class="form-item col-12">
      <p-password
        formControlName="password"
        placeholder="Password"
        [toggleMask]="true"
      />
      @if (isFieldValid('password') ) {
      <div>
        <app-error-message
          [errors]="getFieldErrors('password')"
        ></app-error-message>
      </div>
      }
    </div>
    <div class="form-item col-12">
      <p-password
        formControlName="rePassword"
        placeholder="Confirm Password"
        [toggleMask]="true"
      />
      @if (isFieldValid('rePassword') ) {
      <div>
        <app-error-message
          [errors]="getFieldErrors('rePassword')"
        ></app-error-message>
      </div>
      }
    </div>
    <div class="form-item col-12 grid">
      <p class="ml-auto login-prompt">
        Already have an account?
        <a routerLink="/auth/login" class="login-link">Log in</a>
      </p>
    </div>
    <div class="form-item col-12">
      <p-button
        [disabled]="registerForm.invalid || isLoading"
        type="submit"
        class="auth-button"
        label="Create Account"
        type="submit"
        [loading]="isLoading"
      />
    </div>
  </form>
</div>

