<div class="form-template flex-column justify-content-center">
  <app-page-title pageTitle="Sign in"> </app-page-title>

  @if(apiErrorMessage) {
  <div class="col-12">
    <p class="p-error">{{ apiErrorMessage }}</p>
  </div>
  }
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <app-form-input
      formControlName="email"
      placeholder="Enter Email"
      type="email"
      [errors]="loginForm.get('email')?.errors ?? null"
    />

    <app-form-input
      formControlName="password"
      placeholder="Password"
      type="password"
      [errors]="loginForm.get('password')?.errors ?? null"
    />

    <div class="form-item col-12 grid">
      <p class="ml-auto forgot-password-button" (click)="forgotPassword()">
        Forgot password?
      </p>
    </div>

    <div class="form-item col-12">
      <p-button
        [disabled]="loginForm.invalid || isLoading"
        [loading]="isLoading"
        class="auth-button w-full"
        label="Sign in"
        type="submit"
      />
    </div>
  </form>

</div>
